- if @user.errors.any?
  .error-explanation
    .alert.alert-danger
      The form contains #{pluralize(@user.errors.count, "error")}
  %ul.error__list
    - @user.errors.full_messages.each do |message|
      %li
        = message


